@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-meathead-black text-white;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-white to-gray-400 bg-clip-text text-transparent;
  }

  .text-red-gradient {
    @apply bg-gradient-to-r from-meathead-red to-red-700 bg-clip-text text-transparent;
  }
}
